@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(montañaa.jpg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand{
  margin-top: -7px;
}

.brand span {
  color: aqua;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
 
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .active{
  color: aqua;
}
.menu a:hover{
  background-color: aqua;
  color: darkblue;
  transition: ease-in .4s;
}
.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.info-content p {
  color: white;
}
h1 {
  font-size: 3em;
}

span {
  color: aqua;
}

.dowloand-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);

}

.dowloand-cv:hover {
  background-color: white;
  box-shadow: none;
}


.about {
  display: grid; 
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 2em;
}

.about-info h2 {
  font-size: 2em;
  color: black;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 2em ;
}

.about p {
  font-size: 20px;
  margin-bottom: 1em;
}

.portfolio{
  width: 100vw;
  height: 110vh;
  background-color: darkblue;
  color: white;
}

.portfolio-headings {
  width: 100vw;
  padding: 5em;
}
.portfolio-headings h2 {
  font-size: 2.5em;
}
.container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 350px;
  color: white;
  background-color: blueviolet;
  margin: 1em;
}
.card_img {
  width: 100%;
  height: 150px;
  background-image: url(12.png);
  background-size: cover;
}

.card_title {
  padding: 20px;
}

.card__project_links {
  display: flex;
  justify-content: space-evenly;
}

.card__project_links a {
  color: white;
  text-decoration: none;
}

.card__project_links i {
  font-size: 1.5em;
}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
  
}


.card .project-details a{
  text-decoration: none;
  color: darkblue;
  text-transform: uppercase;
}


.proyect-details-content{
 display: flex;
 width: 100%;
 justify-content: center;
 margin-top: 1em; 
}







.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;

}


.form textarea {
  height: 15px;
  background: none;
  color: white;
  padding: 1.5em;
  border: 1px solid white;

}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
  border-radius: 20px;
}
  
































body{
margin:0px
}
.barra {
    font-family: 'Lato', sans-serif;
    /**Alto y ancho de donde se va a activar cuando pase el mouse**/
    width:10%;
    height:9%;
    /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
    position:fixed;
    /*Tiempo en el que va a transitar la animacion*/
    transition: .4s all ;
    /*este arriba de todo en la pantalla*/
    z-index: 1;  
}

.barra ul{
    /*solucionar espacios no deseados*/
    padding:0px;
    text-align: center;
        
}
.barra  li{
    /*Velocidad de transicion del contenido*/
    transition:all .3s;
    list-style: none; 
}

.barra a{
    text-decoration: none;
    
    font-weight: normal;
    
    /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
    transition: .3s all ;
    /*Se ocultan los elementos*/
    font-size: 0px;
    padding:0px;
}

.barra  h2{
    text-align: center;
    color:white;
    padding:7px;
    padding-bottom:7px;

    /*Se oculta el h2*/
    font-size:0px;   
}

.barra img{
    width: 35%;
    height: 10vh;
    padding-top: 30px;
    padding-left: 10px;
}

.barra:hover{
    /*Tamaño cuando el cursor señale la barra*/
    width: 70%;
    height: 100vh;
    
    /*Color*/
    background: rgba(5, 33, 51, 0.98);
}
.barra:hover h2{
    /*posicion dentro de barra del h2*/
    padding:15px;
    font-size: 35px;
}
.barra:hover a{ 
    font-size:20px ;
    color:white;
    /*Se usa el display block para que el enlace respete el margin*/
    display: block;
    padding:20px;
}
.barra:hover img{
    /*Desaparecer la imagen*/
    height:0px;
}


.barra:hover li{
    border-top:1px solid #03121b;
    /*Espacios entre las lineas y el contenido*/
    
    width:100%;
        
}
.barra:hover ul:last-of-type{


    border-bottom: 1px solid #03121b;
}

.barra:hover a:hover{ 
    font-size: 25px;
    padding: 30px 0px; 
    background: rgba(23, 78, 112, 0.98);  
}

@media (min-width: 768px){
    .barra:hover{
    width: 20%;
    }
}





.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img h2{
    font-size: 200px;
    padding: 90px;
    display: block;
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}










.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: aqua;
}
.footer-content h2{
  font-size: 3em;
}

.footer-content h5{
  font-size: 1.5em;
}

.sotial-network{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-network i{
  font-size: 1.5em;
  color: black;
}














{}